<h1>Docotors Over Six Hours</h1>
<% over_six_hours_hash = {} %>
<% @doctors.each do |doctor| %>
<% number_minutes = 0 %>
  <% Consultation.where(doctor_name: doctor.name).each do |consult| %>
    <% number_minutes += consult.duration %>
  <% end %>
  <% over_six_hours_hash[doctor.name] = number_minutes %>
<% end %>
<% over_six_hours_hash.each do |k,v| %>
  <p><%= k if v > 6*60 %></p>
<% end %>
