<h1>Slots</h1>
<% hash = {} %>
<% hours = (9..17).to_a %>
<%# hash for having the slots as the keys %>
<% hours.each do |hour| %>
  <% hash["#{hour.to_s}.00-#{hour.to_s}.15"] = nil %>
  <% hash["#{hour.to_s}.15-#{hour.to_s}.30"] = nil %>
  <% hash["#{hour.to_s}.30-#{hour.to_s}.45"] = nil %>
  <% hash["#{hour.to_s}.45-#{(hour +1).to_s}.00"] = nil %>
  <% hour += 1 %>
<% end %>
<% array = Consultation.where(doctor_id: params[:id]).where(cancelled: false) %>
<%# in array we have the consultations of a given doctor %>
<%# In array_with_keys we are saving the slots slots that are occupied %>
<% array_with_keys = [] %>
<% array.each do |consult| %>
  <% end_time = (consult.starting_time + (consult.duration * 60)) %>
  <% start_slot = consult.starting_time %>
  <% while start_slot != end_time %>
    <% array_with_keys << ["#{start_slot.strftime("%H.%M")}-#{(start_slot + (15 * 60)).strftime("%H.%M")}", Patient.find(consult.patient_id).name] %>
    <% start_slot =  (start_slot + (15 * 60)) %>
  <% end %>
<% end %>
<p>Not available slots: <%= array_with_keys.sort.each{|x| x[0]} %></p>
<%# if array_with_keys element is equal to the slots key, it means that the slot is not available and we show it %>
<% hash.keys.each do |key| %>
  <p><%= key %>:
    <% array_with_keys.each do |key_of_key| %>
      <% if key == key_of_key[0] %>
        Not Available
        <%= "consultation with #{key_of_key[1]}" if Patient.find_by(email:current_user.email).class.to_s != "Patient" %>
      <% end %>
    <% end %>
  </p>
<% end %>
